body {
  background-color: rosybrown;
}
.box {
  width: 200px;
  height: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 10px;
}

.bg {
  color: black;
  background-color: rgb(153, 16, 39);
  text-align: center;
}

.merge {
  text-align: center;
  background-color: rgb(153, 16, 39);
}
#userName {
  display: block;
}
#submit {
  display: block;
  background-color: blue;
  color: white;
}
